<div class="container" id="home-container">
  <div class="jumbotron text-center text-black">
    <h1 class="display-4">Git Some...</h1>
    <p class="lead">Thanks for stopping by to explore this web app I built using RoR and Bootstrap.</p>
    <hr class="my-4">
    <p>This is a work in progress...</p>
    <%= link_to 'Sign up!', signup_path, class: "btn btn-secondary btn-lg" %>
  </div>
</div>



